/* This is where styles are defined for your page. */
/* One style is provided as example. */

header.page-header {
    background: lightgray;
}

aside.more-info {
    background: lightgoldenrodyellow;
}

section#content {
    background: lightskyblue;
}

footer.page-footer {
    background: lightpink;
}

aside.more-info img {
    width: 150px;
    height: auto;
}

.poem {
    list-style-type: none;
}