/* This is where styles are defined for your page. */
/* One style is provided as example. */

header.page-header {
    background: gray;
}

aside.more-info {
    background: yellow;
}

section#content {
    background: green;
}

footer.page-footer {
    background: pink;
}

aside.more-info img {
    width: 150px;
    height: auto;
}

.poem {
    list-style-type: none;
}