/* This is where styles are defined for your page. */
/* One style is provided as example. */

body {
    background-image: url('images/hard-paper-texture.jpg');
    background-position: bottom right;
    background-repeat: repeat-x;
    background-color: #7796CB;
    font-family: serif;
}

p {
    font-family: Monaco;
}

a {
    font-family: monospace;
    color: black;
    font-size: 120%;
}

a:hover {
    font-size: 160%;
    text-decoration: none;
    color: #ff5050;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

header.page-header {
    background: #576490;
    color: #D1D2F9;
}

.page-header h1, p {
    margin-bottom: 0;
    margin-left: 3%;
}

.page-header p {
    margin-top: 0;
}

.page-header small {
    font-size: medium;
}

aside.more-info {
    background: #D1D2F9;

}

section#content {
    background: #A3BCF9;
}

footer.page-footer {
    background: #D1D2F9;
}

aside.more-info img {
    width: 150px;
    height: auto;
}

aside {
    float: right;
    padding-top: 15px;
    margin-top: 15px;
}

.poem {
    list-style-type: none;
}

.poem li {
    font-size: large;
    line-height: 1.8;
}

.poem li::first-letter {
    font-size: 130%;
    color: #ff5050;
    font-weight: bold;
}

.social-links {
    list-style-type: none;
}

.social-links li {
    border: 3px solid whitesmoke;
    display: inline-block;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}